@import './__title-container/results__title-container.css';
@import './__analytics-link/results__analytics-link.css';
@import './__list/results__list.css';
@import './__button/results__button.css';
@import './__title/results__title.css';
@import './__container/results__container.css';

.results {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f5f6f7;
}

@media (max-width: 1024px) {
  .results {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 485px) {
  .results {
    padding-top: 32px;
    padding-bottom: 44px;
  }
}