.chart__coordinates {
  padding-left: 104px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}

.chart__coordinates:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 485px) {
  .chart__coordinates {
    display: none;
  }
}