.github__wrapper {
  position: relative;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
}

@media (max-width: 1440px) {
  .github__wrapper {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .swiper__wrapper {
    padding-left: 40px;
    padding-right: 48px;
  }
}

@media (max-width: 485px) {
  .swiper__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}