.results__list {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 1024px) {
  .results__list {
    gap: 8px;
  }
}

@media (max-width: 700px) {
  .results__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 485px) {
  .results__list {
    grid-template-columns: 1fr;
  }
}