.github__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .github__title-container {
    margin-bottom: 32px;
  }
}

@media (max-width: 485px) {
  .github__title-container {
    margin-bottom: 16px;
  }
}