.github__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .github__title-container {
    margin-bottom: 0;
  }
}