.chart__item {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.chart__item:last-of-type {
  margin-bottom: 16px;
}

@media (max-width: 485px) {
  .chart__item {
    margin-bottom: 24px;
  }

  .chart__item:last-of-type {
    margin-bottom: 0;
  }
}