.author__content {
  max-width: 600px;
}

@media (max-width: 768px) {
  .author__content {
    max-width: 424px;
  }
}

@media (max-width: 600px) {
  .author__content {
    width: 60%;
  }
}

@media (max-width: 485px) {
  .author__content {
    width: 100%;
  }
}