.tech__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-right: 40px;
  line-height: 1.33;
  letter-spacing: 0.2px;
}

.tech__item:last-of-type {
  margin-right: 0;
} 

@media (max-width: 1024px) {
  .tech__item {
    margin-right: 0;
  }
}

@media (max-width: 700px) {
  .tech__item {
    width: 50%;
    margin-bottom: 32px;
  }
}