@import './__image-container/author__image-container.css';
@import './__image/author__image.css';
@import './__content/author__content.css';
@import './__title/author__title.css';
@import './__paragraph/author__paragraph.css';

.author {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 768px) {
  .author {
    padding-top: 40px;
    padding-bottom: 48px;
  }
}

@media (max-width: 485px) {
  .author {
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}