.author__paragraph {
  margin: 0;
  margin-bottom: 30px;
  line-height: 1.33;
}

.author__paragraph:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .author__paragraph {
    margin-bottom: 0;
  }
}