.tech__list {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

@media (max-width: 1024px) {
  .tech__list {
    justify-content: space-between;
  }
}

@media (max-width: 700px) {
  .tech__list {
    flex-wrap: wrap;
  }
}