.github__button {
  display: none;
  border-radius: 80px;
  background-color: transparent;
  border: 1px solid #1a1b22;
  transition: background-color .3s ease-in-out;
}

.github__button:hover,
.github__button:active,
.github__button:focus {
  background-color: #fff;
}

@media (max-width: 485px) {
  .github__button {
    display: block;
  }
}