.intro__container {
  max-width: 608px;
  margin: 80px auto 0;
}

@media (max-width: 768px) {
  .intro__container {
    max-width: 452px;
    margin-top: 40px;
  }
}

@media (max-width: 485px) {
  .intro__container {
    max-width: 100%;
    margin-top: 30px;
    padding: 0 16px;
  }
}