.article__image {
  display: block;
  width: 100%;
  max-height: 272px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .article__image {
    min-height: 150px;
  }
}

@media (max-width: 320px) {
  .article__image {
    max-height: 196px;
  }
}