.header__link {
  display: block;
  color: #b6bcbf;
  font-weight: 500;
  line-height: 77px;
  text-decoration: none;
  box-sizing: border-box;
}

.header_theme_dark .header__link:hover {
  color: #fff;
} 

.header_theme_light .header__link:hover {
  color: #1a1b22;
}

@media (max-width: 768px) {
  .header__link {
    line-height: 61px;
  }
}

@media (max-width: 485px) {
  .header__link {
    line-height: 53px;
    font-size: 16px;
  }
}