.intro__subtitle {
  margin: 0;
  margin-bottom: 64px;
  font-weight: 400;
  line-height: 1.33;
}

@media (max-width: 768px) {
  .intro__subtitle {
    margin-bottom: 24px;
  }
}

@media (max-width: 485px) {
  .intro__subtitle {
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 1.3;
  }
}