.preloader {
	display: none;
}

.preloader__circle {
	display: block;
	width: 74px;
	height: 74px;
  margin: auto;
  margin-bottom: 24px;
	border: 1px solid #444;
	border-bottom-color: #888;
	border-radius: 50%;
	
	animation: spin .75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.preloader__text {
  margin: 0;
  line-height: 1.33;
  text-align: center;
  color: #b6bcbf;
}