@import './__item/social__item.css';
@import './__link/socials__link.css';
@import './__link/_github/socials__link_github.css';
@import './__link/_facebook/socials__link_facebook.css';

.socials {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}