.article__heading {
  margin: 0;
  margin-bottom: 16px;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
}

@media (max-width: 1024px) {
  .article__heading {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.09;
  }
}

@media (max-width: 485px) {
  .article__heading {
    margin-bottom: 8px;
    line-height: 1.27;
  }
}