@import './__socials/footer__socials.css';
@import './__copyright/footer__copyright.css';
@import './__item/footer__item.css';
@import './__nav/footer__nav.css';

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  min-height: 80px;
}