.swiper__time {
  display: block;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.57;
  color: #b6bcbf;
}

@media (max-width: 768px) {
  .swiper__time {
    font-size: 14px;
  }
}

@media (max-width: 485px) {
  .swiper__time {
    margin-bottom: 8px;
  }
}