.section-title {
  margin: 0;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 1.15;
}

@media (max-width: 1024px) {
  .section-title {
    font-size: 30px;
    line-height: 1.13;
  }
}