.article__source {
  display: block;
  margin-top: auto;
  padding: 0 24px 24px;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}

@media (max-width: 1024px) {
  .article__source {
    padding: 0 16px 16px;
  }
}