.results__analytics-link {
  padding-right: 20px;
  font-weight: 500;
  line-height: 1.33;
  text-decoration: none;
  background-image: url('../../../images/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center right;
}