.chart__title {
  margin-bottom: 48px;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
}

@media (max-width: 485px) {
  .chart__title {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 1.36;
  }
}