@import './__container/intro__container.css';
@import './__title/intro__title.css';
@import './__subtitle/intro__subtitle.css';
@import './__search/intro__search.css';
@import './__input/intro__input.css';
@import './__button/__button.css';

.intro {
  height: 576px;
  color: #fff;
  background-image: url('../../images/intro-background.jpg');
  background-size: cover;
  box-sizing: border-box;
}