.swiper__slide {
  position: relative;
  flex-shrink: 0;
  max-width: 400px;
  width: 100%;
  min-height: 288px;
  padding: 24px;
  background-color: #fff;
  border-radius: 16px;
  box-sizing: border-box;
  transition: box-shadow .3s ease-in-out;
}

.swiper__slide::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to left,rgba(245,246,247,0),#f5f6f7 20%);
}

.swiper__slide:hover {
  box-shadow: 0 0 25px rgba(8, 29, 45, 0.1);
}

@media (max-width: 1240px) {
  .swiper__slide {
    margin-right: 8px;
  }
  .swiper__slide::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .swiper__slide {
    min-height: 262px;
    max-width: 336px;
    padding-right: 16px;
  }
}

@media (max-width: 485px) {
  .swiper__slide {
    width: 100%;
    max-width: 100%;
    min-height: 264px;
    padding: 16px;
  }
}