@import './__paragraph/clients__paragraph.css';
@import './__title/clients__title.css';
@import './__text/clients__text.css';

.clients {
  padding-top: 80px;
  padding-bottom: 94px;
}

@media (max-width: 768px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

@media (max-width: 485px) {
  .clients {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}